<!DOCTYPE html>
<html>
  <head>
    <title>Inram WAT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='javascripts/jquery-3.1.0.min.js'></script>
    <script src='javascripts/script.js'></script>
  </head>
  <body>
    <div id='wrap'>
      <input type="text" id="nickname">
      <button id='get_info_button'>Get info</button>
      <br>
      <div id="user_info"></div>
      <br>
      <div id="user_data" class='img-container'></div>
      <br>
      <button id='add_more_images' disabled>Add more</button>
    </div>
  </body>
</html>
