body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.img-container{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
span{
  font-weight: bold;
}
.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  /* FF doesn't support blur filter, but SVG */
  filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='5'/></filter></svg>#svgBlur");
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius = '3');
  filter: blur(3px);
}
.big-image{
  width:100%;
  height:100%;
  background: transparent;
  margin:0;
  top:0;
  left:0;
  position: fixed;
  text-align: center;
}
